* {
  box-sizing: border-box;
}

body {
  /* background: #3c3c3c; */
  background: white;
  background-image: url(./5F1_Annotated_Schematic.gif);
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: contain;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

header {
  position: fixed;
  text-align: center;
  width: 100%;
}

h1 {
  font-size: 45px;
  margin: .65em 0 0;
}

h2 {
  font-size: 38px;
  margin: .05em 0 0;
}

#tools {
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
}

#tools h6 {
  color: #aaaaaa;
  font-weight: normal;
  font-size: .65rem;
  margin: .5rem 0 0;
  text-align: center;
}

#tools button {
  background: rgb(94, 80, 134);
  border: none;
  border-radius: 2px;
  color: #eeeeee;
  display: block;
  min-width: 120px;
  padding: 6px 12px;
  margin: 4px 0;
  text-transform: uppercase;
}

#tools button:hover,
#tools button.active:hover {
  background: rgb(69, 54, 109);
}

#tools button.active {
  background: rgb(38, 25, 75);
}

.signal path {
  filter: drop-shadow(0 0 3px rgb(40, 236, 40));
}

.highlighted path {
  stroke: rgb(255, 0, 191);
  filter: drop-shadow(0 0 4px rgba(255, 255, 0, 0.425));
}